<div class="m-32">
  <p style="color: green"><%= notice %></p>

  <%= render @recipe %>

  <div class="flex">
  <% if current_user && current_user.id == @recipe.user_id %>
      <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class:"mr-11 border-solid rounded-md border-2 borde  r-slate-200 p-2 bg-slate-200 hover:bg-slate-400" %>
      <%= link_to "Add Food", new_food_path, class:"mr-11 border-solid rounded-md border-2 borde  r-slate-200 p-2 bg-slate-200 hover:bg-slate-400"%>
      <%= link_to "Back to recipes", recipes_path, class:"border-solid rounded-md border-2 borde  r-slate-200 p-2 bg-slate-200 hover:bg-slate-400" %>
    <% else %>
      <%= link_to "Back to recipes", root_path, class:"border-solid rounded-md border-2 borde  r-slate-200 p-2 bg-slate-200 hover:bg-slate-400" %>
    <% end %>
  </div>
</div>