<tr id="<%= dom_id food %>">
  <td class="p-4"><%= food.name %></td>
  <td><%= food.measurement_unit %></td>
  <td><%= food.price %></td>
  <td><%= button_to 'delete', food,  method: :delete, class:"hover:text-[#11537d]" %></td>
</tr>
