<tr id="<%= dom_id recipe_food %>" class="border-b-2 border-slate-700">
  <td class="p-4 font-medium"><%= recipe_food.food.name %></td>
  <td class="p-4 font-medium"><%= recipe_food.quantity %></td>
  <td class="p-4 font-medium"><%= recipe_food.food.price * recipe_food.quantity %></td>
  <td class="p-4 font-medium"><%= button_to 'Modify', recipe_recipe_food_path(recipe_food),  method: :edit %></td>
  <td class="p-4 font-medium"><%= button_to 'delete', recipe_recipe_food_path(recipe_food),  method: :delete %></td>
</tr>