<tr id="<%= dom_id recipe_food %>">
  <td><%= recipe_food.name %></td>
  <td><%= recipe_food.quantity %></td>
  <td><%= recipe_food.price %></td>
  <td><%= button_to 'Modify', recipe_food,  method: :edit %></td>
  <td><%= button_to 'delete', recipe_food,  method: :delete %></td>
</tr>
